<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="right-info">
                    <ul>
                        <li>
                            <h6>Phone Number</h6>
                            <span>00216 20 113 786</span>
                        </li>
                        <li>
                            <h6>Email Address</h6>
                            <span>jaweherncir@gmail.com</span>
                        </li>
                        <li>
                            <h6> Address</h6>
                            <span>Tunise, Mahdia ,Eljem ,Tlelsa ,Ncirat 5124</span>
                        </li>
                        <li>
                            <h6>Notre Site Web</h6>
                            <span>Gestion Bibliothéque</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="footer">
        <p>Copyright © 2022 Gestion Biblothéque Co., Ltd. All Rights Reserved.
            <br>
            Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
            <br>
            Distibuted By: <a href="https://themewagon.com"
                              target="_blank" title="Build Better UI, Faster">ThemeWagon</a>
        </p>
    </div>
</section>