<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-8">
                <div class="left-content">
                    <p>Ce Site Web  <em>Pour</em> Une Bibliothéque.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="right-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/jawaher.youcef.3/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/NcirJ"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/jaweher_ncir/?hl=fr"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/jaweher-ncir-651671197/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>